@use "mixins/theme" as theme;
@use "variables/colors" as colors;

.login-page {
    &__card {
        padding: clamp(24px, 4vw, 36px);

        & > p {
            margin-bottom: 20px;

            @include theme.light {
                color: rgba(26, 27, 38, 0.78);
            }

            @include theme.dark {
                color: rgba(169, 177, 214, 0.88);
            }
        }

        h1 {
            margin-bottom: 8px;
        }
    }
}
