@use "@sass/variables/colors" as colors;

.button {
    padding: 10px 20px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    color: colors.$black;
    letter-spacing: 0.02em;
    box-shadow: 0 1px 3px rgba(colors.$black, 0.3);
    transition: all ease-in-out 0.3s;
    cursor: pointer;

    &--primary {
        background: colors.$green-100;

        &:hover {
            background: colors.$green-80;
            box-shadow: 0 2px 8px rgba(colors.$green-100, 0.35);
        }
    }

    &--secondary {
        background: colors.$blue-100;

        &:hover {
            background: colors.$blue-80;
            box-shadow: 0 2px 8px rgba(colors.$blue-100, 0.35);
        }
    }
}
