@use "@sass/variables/colors" as colors;

.link {
    color: colors.$blue-100;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    &:hover {
        text-decoration: underline;
        color: colors.$blue-80;
    }
}
