@use "sass:color";
@use "mixins/theme" as theme;
@use "variables/colors" as colors;

.card {
    backdrop-filter: blur(10px);
    border-radius: 22px;

    @include theme.light {
        background: rgba(255, 255, 255, 0.62);
        border: 1px solid color.change(colors.$text, $alpha: 0.18);
        box-shadow: 0 26px 62px color.change(colors.$black, $alpha: 0.2);
    }

    @include theme.dark {
        background: rgba(169, 177, 214, 0.1);
        border: 1px solid color.change(colors.$background, $alpha: 0.3);
        box-shadow: 0 32px 70px color.change(colors.$black, $alpha: 0.5);
    }
}
