@use "mixins/media" as media;

.main-layout {
    display: flex;
    min-height: 100dvh;
    position: relative;

    @include media.tablet {
        flex-direction: column;
    }

    &__content {
        flex: 1;
        min-width: 0;
    }
}
