@use "@sass/variables/colors" as colors;

.notification {
    display: flex;
    align-items: center;
    width: 600px;
    height: max-content;
    padding: 10px;
    border-radius: 5px;

    h5,
    p {
        color: colors.$black;
    }

    svg {
        path {
            fill: colors.$black;
        }
    }

    &--info {
        background: colors.$blue-100;
    }

    &--warning {
        background: colors.$yellow-100;
    }

    &--success {
        background: colors.$green-100;
    }

    &--error {
        background: colors.$red-100;
    }

    &__icon {
        svg {
            width: 50px;
            height: 50px;
        }
    }

    &__message {
        margin-right: auto;
        padding-inline: 15px;

        p {
            font-size: 20px;
        }
    }

    &__close {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        svg {
            width: 35px;
            height: 35px;
        }
    }
}
