@use "../variables/colors" as colors;
@use "../mixins/media" as media;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

[data-theme="light"] {
    --background-color: #{colors.$background};
    --text-color: #{colors.$text};
    background: var(--background-color);
}

[data-theme="dark"] {
    --background-color: #{colors.$text};
    --text-color: #{colors.$background};
    background: var(--background-color);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: var(--background-color);
    color: var(--text-color);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--text-color);
    font-feature-settings: "liga" off;
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 125%;

    @include media.tablet {
        font-size: 40px;
    }
}

h2 {
    color: var(--text-color);
    font-feature-settings: "liga" off;
    font-family: Rubik;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%;
    letter-spacing: -0.72px;

    @include media.tablet {
        font-size: 30px;
    }
}

h3 {
    color: var(--text-color);
    font-feature-settings: "liga" off;
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%;

    @include media.tablet {
        font-size: 24px;
    }
}

h4 {
    color: var(--text-color);
    font-feature-settings: "liga" off;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;

    @include media.tablet {
        font-size: 18px;
    }
}

h5 {
    color: var(--text-color);
    font-feature-settings: "liga" off;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

    @include media.tablet {
        font-size: 16px;
    }
}

// Note that these defaults are the same as p1-r with addition of a color
p {
    color: var(--text-color);
    font-feature-settings: "liga" off;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include media.tablet {
        font-size: 14px;
    }
}
