@use "../../variables/colors" as colors;

.nav-bar {
    align-self: flex-start;
    position: sticky;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: 164px;
    height: 100dvh;
    padding: 20px 12px;
    background: colors.$primary-100;
    backdrop-filter: blur(8px);
    animation: sidebar-reveal 0.45s ease-out;
    transition: width ease-in-out 0.25s;
    overflow: hidden;

    &:hover {
        width: 280px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: colors.$overlay;
        border-radius: 12px;

        button {
            background: none;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
