@use "@sass/mixins/media" as media;
@use "@sass/variables/colors" as colors;

.company-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__title-bar {
        display: flex;
        align-items: center;

        h1 {
            margin-right: auto;
        }

        @include media.tablet {
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    &__lists {
        display: flex;
        flex: 1;
        gap: 20px;
        min-height: 0;
        margin-top: 20px;

        @include media.tablet {
            flex-direction: column;
        }
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        min-height: 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 10px;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 6px;
            transition: background 0.2s;
        }

        &:hover::-webkit-scrollbar-thumb {
            background: colors.$blue-100;
        }

        &:hover::-webkit-scrollbar-thumb:hover {
            background: colors.$blue-80;
        }
    }

    &__list-title-bar {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        background: var(--bg-color);
        z-index: 10;
        padding-bottom: 10px;
        flex-shrink: 0;

        h2 {
            margin-right: auto;
        }
    }

    &__list-item {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-block: 10px;

        &:not(:first-child) {
            border-top: 2px solid colors.$blue-100;
        }
    }

    &__list-content {
        width: 90%;
        margin-right: auto;
    }

    &__list-actions {
        * {
            margin-bottom: 10px;

            svg {
                width: 25px;
                height: 25px;
            }
        }
    }

    &__icon-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: max-content;
        transition: all ease-in-out 0.3s;
        border: none;
        background: transparent;
        padding: 0;

        &:hover {
            transform: scale(1.1);

            p {
                color: var(--bg-color);
            }

            svg {
                fill: var(--bg-color);
                color: var(--bg-color);
            }
        }

        svg {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            fill: currentColor;
            color: var(--text-color);
        }

        p {
            color: var(--text-color);
        }

        &--add {
            p {
                font-size: 25px;
                color: colors.$green-100;
            }

            svg {
                width: 35px;
                height: 35px;
                color: colors.$green-100;
            }

            &:hover {
                p,
                svg {
                    color: colors.$green-80;
                }
            }
        }

        &--view {
            svg {
                color: colors.$blue-100;
            }
        }

        &--edit {
            svg {
                color: colors.$yellow-100;
            }
        }

        &--delete {
            svg {
                color: colors.$red-100;
            }
        }

        &--disabled {
            pointer-events: none;
        }
    }
}
