.home-page {
    &__logo {
        margin-bottom: 32px;

        svg {
            width: clamp(320px, 56vw, 620px);
            height: auto;
        }
    }

    &__text {
        width: 100%;
        max-width: 560px;
        text-align: center;
    }

    &__buttons {
        display: flex;
        justify-content: space-evenly;
        width: auto;
        margin-top: 48px;
        gap: 16px;
    }
}
