.home-page {
    &__logo {
        margin-bottom: 40px;

        svg {
            width: clamp(320px, 56vw, 620px);
            height: auto;
        }
    }

    &__text {
        width: 60%;
        text-align: center;
    }

    &__buttons {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin-top: 100px;
    }
}
