$black: #0f191c;
$white: #d4cbe5;

$green-100: #82d967;
$green-80: #b8e0a8;
$green-60: #d8f0d8;

$red-100: #e83151;
$red-80: #ef8a9e;
$red-60: #f5bfd3;

$yellow-100: #ffd700;
$yellow-80: #ffe64d;
$yellow-60: #fff2b3;

$blue-100: #227358;
$blue-80: #669999;
$blue-60: #b3cccc;

$magenta-100: #663f46;
$magenta-80: #9d7577;
$magenta-60: #c9a8ac;

$cyan-100: #50b45a;
$cyan-80: #8cce94;
$cyan-60: #c3e6c7;
