$black: #1a1b26;
$white: #a9b1d6;

$green-100: #9ECE6A;
$green-80: #b1d888;
$green-60: #c5e2a6; 

$red-100: #F7768E;
$red-80: #f991a5;
$red-60: #faadbb; 

$yellow-100: #E0AF68;
$yellow-80: #e6bf86;
$yellow-60: #eccfa4; 

$blue-100: #7AA2F7;
$blue-80: #95b5f9;
$blue-60: #afc7fa; 

$magenta-100: #BB9AF7;
$magenta-80: #c9aef9;
$magenta-60: #d6c2fa; 

$cyan-100: #7DCFFF;
$cyan-80: #97d9ff;
$cyan-60: #b1e2ff; 
