.root-layout {
    position: relative;

    &__notifications {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1100;

        & > div {
            margin-bottom: 12px;
        }
    }
}
